/* Customization */

:root { 
    --light-gray: #EEE;
    --light: #FFF;
    --dark: #333;
    --default-font-size: 14px;
    --default-padding: 5px;
    --medium-font-size: 20px;
    --large-font-size: 24px;
    --xl-font-size: 36px;
    --spacing-0: 0px;
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 6px;
    --spacing-4: 8px;
    --spacing-5: 10px;
    --spacing-6: 12px;
    --spacing-7: 14px;
    --spacing-8: 16px;
    --spacing-9: 18px;
    --spacing-10: 20px;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./../fonts/Roboto/Roboto-Regular.ttf");
}

/* Default Styles */
* {
    font-family: 'Roboto-Regular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-size: var(--default-font-size);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray); 
} 

button {
    border: 0;
    padding: var(--default-padding);
}

input {
    padding: var(--default-padding);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

/* Utilities */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.slightly-center-absolute-vertically{
    top: 50%;
    transform: translateY(-70%);
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-screen-100 {
    height: 100vh;
}
.h-100 {
    height: 100%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.p-1 {
    padding: var(--spacing-1);
}

.p-2 {
    padding: var(--spacing-5);
}

.p-3 {
    padding: var(--spacing-3);
}

.p-4 {
    padding: var(--spacing-4);
}

.p-5 {
    padding: var(--spacing-5);
}

.px-1 {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
}

.px-2 {
    padding-left: var(--spacing-5);
    padding-right: var(--spacing-5);
}

.px-3 {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
}

.px-4 {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
}

.px-5 {
    padding-left: var(--spacing-5);
    padding-right: var(--spacing-5);
}

.px-10 {
    padding-left: var(--spacing-10);
    padding-right: var(--spacing-10);
}


.m-1 {
    padding: var(--spacing-1);
}

.m-2 {
    padding: var(--spacing-5);
}

.m-3 {
    padding: var(--spacing-3);
}

.m-4 {
    padding: var(--spacing-4);
}

.m-5 {
    padding: var(--spacing-5);
}

.mr-1 {
    margin-bottom: var(--spacing-1);
}

.mr-2 {
    margin-right: var(--spacing-2);
}

.mr-3 {
    margin-right: var(--spacing-3);
}

.mr-4 {
    margin-right: var(--spacing-4);
}

.mt-10 {
    margin-top: var(--spacing-10);
}

.mr-5 {
    margin-right: var(--spacing-5);
}

.mb-1 {
    margin-right: var(--spacing-1);
}

.mb-2 {
    margin-bottom: var(--spacing-2);
}

.mb-3 {
    margin-bottom: var(--spacing-3);
}

.mb-4 {
    margin-bottom: var(--spacing-4);
}

.mb-5 {
    margin-bottom: var(--spacing-5);
}

.max-w-300 {
    max-width: 300px;
}

.text-medium {
    font-size: var(--medium-font-size);
}

.text-large {
    font-size: var(--large-font-size);
}

.text-center {
    text-align: center;
}

.bg-dark {
    background-color: var(--dark);
}

.bg-light {
    background-color: var(--light);
}

.text-white {
    color: var(--light);
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Components */
.main-btn {
    padding: 10px;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}



/* Mobile Screen Sizes */
@media screen and (min-width: 768px) {
    .md-w-40 {
        width: 40%;
    }
    .md-w-50 {
        width: 50%;
    }
    .md-w-60 {
        width: 60%;
    }
    .md-w-100 {
        width: 100%;
    }

    .md-mt-10 {
        padding-top: var(--spacing-10);
    }
}

.sidebar {
    max-width: 200px; 
    height: 100vh;
}

